img{
    margin-left: 50px;
    height: 300px;

}
.imagenes{
    margin-left: auto;
    margin-right: auto;
}
iframe{
    height: 300px;
}

header{
    color: white;
    background-color: rgb(34, 34, 173);
    height: 50px;
}

body{
    font-family: arial;
    background-color: rgb(112, 225, 225);
    margin: 0;
    margin-top: 0;
    padding: 0;
    padding-top: 0;
}
.content{
    padding-left: 20px;
}
table{
    width: 90%;
    border: 1px; 
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.secciones{
    padding-left: 20px;
    padding-top: 10px;
    background-color: rgb(115, 115, 235);
    height: 30px;
}
aside{
    padding-right: 20px;
    margin-top: 50px;
    padding-top: 5px;
    background-color: rgb(255, 208, 0);
    text-align: right;
    height: 150px;
}
form{
    text-align: center;
}
td,th{
    padding-right: auto;
    padding-left: auto;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}
footer{
    height: 200px;
    background-color: black;
    color: white;
}
